.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10%;
    justify-items: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.image {
    position: relative;
    width: 300px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
    &:nth-child(2n) {
        justify-self: start;
    }
    
    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            background-image: url('https://picsum.photos/id/1#{$i}/2500/1667');
        }
    }
}


// Adjusting layout for small screens
@media screen and (max-width: 760px) {
    .container {
      // 1 column grid
      grid-template-columns: 1fr;
      // Fix image centering
      justify-items: center;
    }
  
    // Fix image centering
    .image:nth-child(2n) {
      justify-self: center;
    }
  }


